body {
	text-align: center;
}

button.getdatmoney {
	display: inline-block;
	margin-top: 80px;
	margin-bottom: 1%;
	border-radius: 18%;
	width: 30%;
	height: 100px;
	background-color: orange;
	font-size: 40px;
	font-family: Impact;
}

p.doglove, p.duh, p.doit {
	font-size: 30px;
}

p.doit {
	border-bottom: 3px solid black;
	padding-bottom: 10px;
	margin-bottom: 40px;
	}	

h1.qna {
	font-size: 40px;
	text-align: right;
	margin-right: 50%;
	border-bottom: 3px solid black;
}

ul.expenses {
	font-size: 20px;
	text-align: left;
	margin-left: 50%;
	margin-bottom: 50px;
	border-bottom: 3px solid black;
	list-style-type: disc;
}

h2.also {
	font-size: 50px;
}

h2.prizes {
	font-size: 30px;
	border-bottom: 3px solid black;
}

div.thanks {
	padding-bottom: 10px;
	border-bottom: 3px solid black;
}

div.gift {
	margin-top: 2%;
	width: 90%;
	height: 150px;
	display: inline-block;
	border-right: 2px solid black;
	border-radius: 10%;
}

img.gift {
	width: 200px;
	height: 150px;
	display: inline-block;
	float: left;
	border-radius: 20%;
}

div.description {
	display: inline-block;
	text-align: left;
	width: 80%;
	height: 150px;
}

span.amount {
	font-size: 20px;
}

p.uget {
	font-size: 20px;
	margin-top: 3%;
	font-family: "Times New Roman";
}
