h1 { 
	text-align: center;
	font-family: arial;
	color: red
}

div.container { 
	width: 900px;
	margin: 0 auto;
}

div.column {
	float: left;
	width: 25%;
	padding: 30px;
	box-sizing: border-box;
}

img {
	float: left;
	margin-right: 30px;
	padding: 15px;
	width: 60%;
}

